html{
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Lato;
  --Color-Darkblue: #1A3E68;
  --Color-Bege: #F1DAC4;
  --Color-Lightblue: #B0D6EC;
  --Color-blue: #7DA0CA;
  --Color-Branco: #fff;
}
.img-login{
  width: 330px;
  height: 300px;
}
.bem-vindo{
  font-family: Poppins;
  font-weight: 600;
  color: var(--Color-Darkblue);
  font-size: 36px;
  text-align: center;
}
.cadastrado{
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: var(--Color-Darkblue);
  margin-bottom: 10px;
  text-align: center;
}
.container-cadastro{
  position: relative;
  width: 100%;
  height: 100vh;
}
.content-box{
  width: 80%;
  height: 100%;
  background-color: var(--Color-Darkblue);
}

.container-cadastro .input-box .entrar{
  background: var(--Color-Darkblue);
  color: var(--Color-Bege);
  border: none;
  width: 228px;
  font-size: 20px;
  border-radius: 30px;
  transition: 0.5s;
  padding: 10px;
}
.container-cadastro .input-box .entrar:hover{
  background: var(--Color-Lightblue);
  color: var(--Color-Darkblue);
}
.img-box{
  width: 50%;
  height: 100%;
}
.content-box .form-box{
  width: 70%;
}

.content-box .form-box .input-box label{
  font-size: 20px;
  margin-left: 10px;
  color: var(--Color-Bege);
}
.content-box .form-box .input-box input{
  width: 100%;
  padding: 10px;
  color: var(--Color-Bege);
  background-color: var(--Color-Darkblue);
  border-radius: 30px;
  border-color: var(--Color-Bege);
}
.content-box .form-box .input-box input[type=submit]{
  background: var(--Color-Bege);
  color: var(--Color-Darkblue);
  border: none;
  margin-top: 50px;
  width: 228px;
  font-size: 20px;
  transition: 0.5s;
}
.content-box .form-box .input-box input[type=submit]:hover{
  background: var(--Color-Lightblue);
}
.voltar{
  margin-right: 350px;
  margin-top: 20px;
}