.container{
  width: 1224px;
  margin-bottom: 100px;
}
.tema{
  color: var(--Color-Darkblue);
  font-size: 28px;
  font-family: Poppins;
  margin: 100px;
  text-decoration: underline;
}
.titulo{
  color: var(--Color-Darkblue);
  font-size: 20px;
  font-family: Poppins;
  padding-bottom: 15px;
  border-bottom: 3px solid var(--Color-Darkblue);
}
.edicao{
  width: 50%;
}
.linhas-temas{
  color: var(--Color-Darkblue);
  font-size: 20px;
  border-bottom: 1.5px solid var(--Color-Darkblue);
  padding: 15px 15px;
}
.tema-titulo{
  color: var(--Color-Darkblue);
  font-size: 28px;
  font-family: Poppins;
  margin-bottom: 50px;
}