.titulo{
  font-family: Poppins;
  font-size: 48px;
  width: 488px;
}

.subtitulo{
  font-family: Poppins;
  font-size: 36px;
}

.darkblue{
  color: var(--Color-Darkblue);
}

.background-azul{
  background-color: var(--Color-Darkblue);
}

.bg-inicio{
  height: 800px;
}

.margem{ 
  margin-top: 190px;
}

.underline{
  text-decoration: underline;
}

.linha{
  width: 1467px;
  height: 3px;
}

.bolinha{
  width: 20px;
  height: 20px;
  border-radius: 50%;  
}

.position-top{
  position: relative;
  top: 6px;
}

.position-bottom{
  position: relative;
  bottom: 8px;
}

.posicao{
  position: relative;
  bottom: 172px;
}

.texto-inicio{
  width: 328px;
  text-align: center;
}

.descricao{
  font-family: Lato;
  font-size: 20px;
}

.margem2{
  margin-top: 40px;
}


.button{
  border-color: var(--Color-Darkblue);
}

.button2{
  color: var(--Color-Bege);
  border-color: var(--Color-Darkblue);
}

.bloco-azul{
  border-radius: 50px;
  width: 455px;
  height: 267px;
}

.texto{
  width: 437px;
  height: 183px;
}

.texto-longo{
  text-align: justify;
  font-family: Lato;
  font-size: 20px;
}

.right{
  margin-right: 50px;
}

.left{
  margin-left: 50px;
}


.pessoa{
  width: 299.242px;
  height: 475px;
  border-radius: 157.576px;
  background-color: var(--Color-blue);
}

.explorar{
  color: var(--Color-Darkblue);
}

.text-descricao{
  color: var(--Color-Darkblue);
  margin-bottom: 50px;
}