
.repertorio{
    width: 500px;
    height: 400px;
    background: var(--Color-Darkblue);
    margin-left: 60px;
    border-radius: 52px;
}
 
.subtitulo{
    font-family: Poppins;
    font-size: 36px;
    color: var(--Color-Darkblue);
}
 
.underline{
    text-decoration: underline;
}
 
.titulo_rep{
    color: var(--Color-Bege);
    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    width: 450px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.margem-media{
    margin-top: 60px;
}
 
.margem-pequena{
    margin-top: 30px;
}
 
.borda{
    border-bottom: 1px solid var(--Color-Bege);
}
 
.texto{
    text-align: justify;
    font-family: Lato;
    font-size: 20px;
    color: var(--Color-Bege);
}
 
 
.botao{
    width: 120px;
    height: 40px;
}  



