* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --Color-Darkblue: #1A3E68;
  --Color-Bege: #F1DAC4;
  --Color-Lightblue: #B0D6EC;
  --Color-blue: #7DA0CA;
  --Color-Branco: #fff;
}

html {
  height: 100%;
  width: 100%;
}

.perfil_body{
  font-family: Lato;
  background-color: white;
}

.perfil_header{
  background-color: var(--Color-Darkblue);

}

.list-item{
  list-style: none;
  margin-left: 25px;
}
.list-a{
  text-decoration: none;
  color: var(--Color-Branco);
  font-size: 20px;
}

.publicar-tema{
  color: var(--Color-Darkblue);
  background-color: var(--Color-Bege);
  border-radius: 5px;
  font-size: 1.2em;
  padding: 8px;
  width: 10em;
}

.perfil_button{
  color: var(--Color-Bege);
  background-color: var(--Color-Darkblue);
  border-radius: 15px;
  box-shadow:  0 2px 3px 0 black;
  font-size: 30px;
}
.perfil_footer{
  background-color: var(--Color-Darkblue);
}