 
.publicar-tema{
  color: var(--Color-Darkblue);
  background-color: var(--Color-Bege);
  border-radius: 5px;
  font-size: 1.2em;
  padding: 8px;
  width: 10em;
}

.botao{
  color: var(--Color-Bege);
  background-color: var(--Color-Darkblue);
  border-color: var(--Color-Darkblue);
  box-shadow:  0 4px 5px 0 var(--Color-Darkblue);
}

.botao:hover{
  background-color: var(--Color-Lightblue);
  color: var(--Color-Darkblue);
  border-color: var(--Color-Darkblue);
  transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
}


.minhas_informacoes{
  background-color: var(--Color-Bege);
  color: var(--Color-Darkblue);
  width: 410px;
  height: 108px;
  border-radius: 30px;
}

.subtitulo{
  font-family: Poppins;
  font-size: 36px;
  color: var(--Color-Darkblue);
}

.subtitulo2{
  color: var(--Color-Darkblue);
  font-family: Lato;
  font-size: 28px;
}

.texto{
  font-family: Lato;
  font-size: 20px;
  color: var(--Color-Darkblue);
}

.margem-lado{
  margin-left: 60px;
}

.pontuacao{
  width: 726px;
  height: 108px;
  background-color: var(--Color-Bege);
  color: var(--Color-Darkblue);
  border-radius: 30px;
}

.borda-lateral{
  border-left: 3px solid var(--Color-Darkblue);
  border-right: 3px solid var(--Color-Darkblue);
  padding: 0px 70px 0px 70px;
}

.margem-baixo{
  margin-bottom: 190px;
}

