
{% extends 'base_add.html' %}
{% block conteudo %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'style/add_conteudo.css')}}">
{% endblock %}

<div class="d-flex justify-content-center fw-semibold margem">
  <div class="subtitulo underline ">Adicionar Coleção</div>
</div>

<div class="d-flex justify-content-center fw-semibold margem">

  <div>

    <form method='post' action ="{{url_for('colecoes.colecao_cadastro', id = repertorio.id) }}" enctype="multipart/form-data">

       <div class="subtitulo2">Nome da coleção</div> <br>
       <div><input type="text" name='nome' class="input texto" placeholder="Ex.: Repertórios para o Enem" maxlength="25"></div>

      <div class="subtitulo2 margem2">Descrição</div> <br>
      <textarea name="descricao" class="input texto descricao" placeholder="Descreva sobre a sua coleção se trata" id="" cols="30" rows="10" required></textarea>

      <div class="subtitulo2 margem2">Essa coleção será pública ou privada? </div> <br>
      <div>
        <select class="tipo_repertorio" name="tipo">
          <option class="option_select" value="publica">Pública</option>
          <option class="option_select" value="privada">Privada</option>
        </select>
      </div>

      <div class="margem d-flex justify-content-center">
        <button type="submit" class="btn botao">Voltar</button>
        <button type="submit" class="btn botao">Postar</button>
      </div>

    </form>

  </div>

</div>

{% endblock %}