{% extends 'base.html' %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'style/ger_temas.css')}}">
{% endblock %}

{% block conteudo %}

<body>
  <div class="container flex-column">
    <div class="d-flex justify-content-center align-items-center">
      <div class="tema fw-semibold">
        <div>Gerenciar temas</div>
      </div>
    </div>

    <div class="fw-semibold titulo d-flex justify-content-between">
      <div class="d-flex">
        <div>Título</div>
      </div>
      <div class="edicao d-flex justify-content-between">
        <div>Denuncia</div>
        <div>Repertórios</div>
        <div>Editar</div>
        <div>Remover</div>
      </div>
    </div>
    {%for tema in temas %}
      <div class="linhas-temas d-flex justify-content-between">
        <div class="d-flex">
          <div>{{tema.titulo}}</div>
        </div>
        <div class="edicao d-flex justify-content-between">
          <div>Não</div>
          <div><a href="{{url_for('temas.tema_abrir', id=tema.id)}}"><img src="{{url_for('static', filename = 'imgs/repertorio.svg')}}" alt=""></a></div>
          <div><a href="{{url_for('temas.tema_update', id=tema.id)}}"><img src="{{url_for('static', filename = 'imgs/editar.svg')}}" alt=""></a></div>
          <div><a href="{{url_for('temas.tema_delete', id=tema.id)}}"><img src="{{url_for('static', filename = 'imgs/remover.svg')}}" alt=""></a></div>
        </div>
      </div>
    {% endfor %}



  </div>


</body>

{% endblock %}
