{% extends 'base.html' %}

{% block conteudo %}

<link rel="stylesheet" href="{{url_for('static', filename = 'style/home.css')}}">


<title>home</title>

<div class="background-azul d-flex justify-content-evenly align-items-center">
  <!-- Exibe as mensagens flash para tema cadastrado-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        <ul class="list-unstyled">
          {% for category, message in messages %}
            <li class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
</div>




<div class="background-azul bg-inicio d-flex justify-content-evenly align-items-center">

  <div>
    <div class="margem2 titulo fw-bold text-white">Encontre o repertório que você precisa!</div>
    <div class="margem2 text-white subtitulo fw-lighter">Ajude outras pessoas, Interaja!</div>
    <div class="margem2">
      <a class="explorar" href="{{url_for('temas.pesquisa')}}">
        <button class="btn btn-info"> Explorar </button>
      </a>
    </div>

  </div>

  <div>
    <img src="{{url_for('static', filename = 'imgs/livros - img.svg')}}" alt="">
  </div>
</div>

<div class="  margem d-flex justify-content-center">
  <div class="underline darkblue subtitulo d-flex justify-content-center  fw-semibold">O que você pode fazer aqui?</div>
</div>

<div class="margem d-flex justify-content-evenly">
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-texto.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2 position-top"><div class="bolinha background-azul"></div></div>
      <div class="texto-inicio descricao d-flex justify-content-center margem2">Aqui você poderá encontrar repertórios de variados tipos para seus temas de redações e compartilhar seus conhecimentos. </div>
    </div>
  
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-folha.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2"><div class="bolinha background-azul"></div></div>
      <div class="d-flex justify-content-center texto-inicio descricao margem2">Terá a possibilidade de criar pastas com os repertórios que mais irão ajudar você, assim deixando seus estudos mais organizados.</div>
    </div>
  
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-game.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2 position-bottom"><div class="bolinha background-azul"></div></div>
      <div class="d-flex justify-content-center texto-inicio descricao margem2">Participarará da gamificação que ajudará na motivação e interação entre os usuários.</div>
  </div> 
  
</div>

<div class="d-flex justify-content-center">
  <div class="linha background-azul posicao"></div>
</div>



<div class="margem-grande container flex-column">
  <div class="d-flex flex-column">
    <div class="darkblue subtitulo d-flex fw-semibold">Argumentação</div>
    <div class="descricao margem-pequena">A argumentação é um processo comunicativo que tem o intuito de convencer, persuadir ou influenciar alguém a aceitar um determinado ponto de vista ou ideia. Ela é usada em diversas áreas da nossa vida, não só de modo formal, mas também em nosso cotidiano de modo informal.</div>
    <div class="descricao margem-pequena">A argumentação, se mal construída, pode acarretar problemas na estrutura de um texto, se tratando de uma redação dissertativa-argumentativa, por exemplo, pois é necessário que haja fatores que demonstram uma construção a fim de persuadir o leitor da melhor maneira</div>
  </div>

  <div class="d-flex flex-column">
    <div class="darkblue subtitulo d-flex fw-semibold margem-media">Repertório</div>
    <div class="descricao margem-pequena">O termo repertório é utilizado para se referir a um conjunto de conhecimentos, habilidades ou experiências que um indivíduo possui. Dentro do contexto de argumentação, um repertório refere-se a qualquer tipo de informação que auxilie a fundamentar um argumento, como por exemplo: notícias, poemas, músicas, artigos, etc.</div>
    <div class="descricao margem-pequena">Sua presença em textos argumentativos é de suma importância, pois sugere que o autor tem domínio sobre o assunto e uma base sólida onde ele construirá o seu argumento, de modo a levar o leitor a concordar com sua tese.  
    </div>
  </div>

  
  
  <div class="margem2"><a href="{{url_for('temas.pesquisa')}}" class="darkblue descricao fw-light">Explorar >>></a></div>

</div>

<div class="margem"></div>

<div class="margem d-flex justify-content-center">
  <div class="underline darkblue subtitulo d-flex justify-content-center  fw-semibold">Conheça nossa equipe</div>
</div>

<div class="margem"></div>

<div class="margem d-flex justify-content-center">

  <div class="pessoa d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/Ayane.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Ayane Vitória </div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around  margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

  <div class="pessoa left right d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/paulo.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Paulo Ricardo</div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around  margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

  <div class="pessoa d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/Talyta.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Talyta Raquel</div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

</div>

<div class="margem"></div>
{% endblock %}
