{% extends 'base.html' %}

{% block conteudo %}

<link rel="stylesheet" href="{{url_for('static', filename = 'style/home.css')}}">

<title>home</title>

<div class="background-azul bg-inicio d-flex justify-content-evenly align-items-center">
  <div>
    <div class="margem2 titulo fw-bold text-white">Encontre o repertório que você precisa!</div>
    <div class="margem2 text-white subtitulo fw-lighter">Ajude outras pessoas, Interaja!</div>
    <div class="margem2">
      <button class="btn btn-info">Explorar</button>
    </div>

  </div>

  <div>
    <img src="{{url_for('static', filename = 'imgs/livros - img.svg')}}" alt="">
  </div>
</div>

<div class="  margem d-flex justify-content-center">
  <div class="underline darkblue subtitulo d-flex justify-content-center  fw-semibold">O que você pode fazer aqui?</div>
</div>

<div class="margem d-flex justify-content-evenly">
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-texto.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2 position-top"><div class="bolinha background-azul"></div></div>
      <div class="texto-inicio d-flex justify-content-center margem2">Aqui você poderá encontrar repertórios de variados tipos para seus temas de redações e compartilhar seus conhecimentos. </div>
    </div>
  
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-folha.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2"><div class="bolinha background-azul"></div></div>
      <div class="d-flex justify-content-center texto-inicio margem2">Terá a possibilidade de criar pastas com os repertórios que mais irão ajudar você, assim deixando seus estudos mais organizados.</div>
    </div>
  
    <div>
      <div class="d-flex justify-content-center"><img src="{{url_for('static', filename = 'imgs/img-game.svg')}}" alt=""></div>
      <div class="d-flex justify-content-center margem2 position-bottom"><div class="bolinha background-azul"></div></div>
      <div class="d-flex justify-content-center texto-inicio margem2">Participarará da gamificação que ajudará na motivação e interação entre os usuários.</div>
  </div> 
  
</div>

<div class="d-flex justify-content-center">
  <div class="linha background-azul posicao"></div>
</div>


<div class="  margem d-flex justify-content-center">
  <div class=" underline darkblue subtitulo d-flex justify-content-center  fw-semibold">Conheça nossos repertórios mais vistos!</div>
</div>

<div class="d-flex flex-column align-items-center">

  <div class="margem postagem">

    <div class="darkblue margem2 d-flex justify-content-between">
      <div class="tema left">Tema: Pobreza no Brasil.</div>
      <div class="right">
        <button class="button darkblue btn btn-outline-info">Denunciar</button>
        <button class="button2 background-azul btn btn-info">Mais repertórios</button>
      </div>
    </div>

    <div class="darkblue margem2 d-flex justify-content-between">
        <div class="texto texto-longo margem2 left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of thas survived not only five centuries, but also the leap, but also the leap</div>
      <div class="bloco-azul background-azul margem2 right"></div>
    </div>

    <div class="margem2 d-flex justify-content-between">
      <div class="left">
        <img src="{{url_for('static', filename = 'imgs/curtir.svg')}}" alt="">
        <img src="{{url_for('static', filename = 'imgs/mensagem repertório.svg')}}"
          alt="">
        <input type="text" name="Comentar" class="comentar background-azul" placeholder="Comente...">
        <button class="button darkblue btn btn-outline-info right">Enviar</button>
      </div>

    </div>
  </div>
  <div class="margem postagem">

    <div class="darkblue margem2 d-flex justify-content-between">
      <div class="tema left">Tema: Pobreza no Brasil.</div>
      <div class="right">
        <button class="button darkblue btn btn-outline-info">Denunciar</button>
        <button class="button2 background-azul btn btn-info">Mais repertórios</button>
      </div>
    </div>

    <div class="darkblue margem2 d-flex justify-content-between">
        <div class="texto texto-longo margem2 left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of thas survived not only five centuries, but also the leap, but also the leap</div>
      <div class="bloco-azul margem2 background-azul right"></div>
    </div>

    <div class="margem2 d-flex justify-content-between">
      <div class="left">
        <img src="{{url_for('static', filename = 'imgs/curtir.svg')}}" alt="">
        <img src="{{url_for('static', filename = 'imgs/mensagem repertório.svg')}}"
          alt="">
        <input type="text" name="Comentar" class="comentar background-azul" placeholder="Comente...">
        <button class="button darkblue btn btn-outline-info right">Enviar</button>
      </div>

    </div>
  </div>
  <div class="margem postagem">

    <div class="darkblue margem2 d-flex justify-content-between">
      <div class="tema left">Tema: Pobreza no Brasil.</div>
      <div class="right">
        <button class="button darkblue btn btn-outline-info">Denunciar</button>
        <button class="button2 background-azul btn btn-info">Mais repertórios</button>
      </div>
    </div>

    <div class="darkblue margem2 d-flex justify-content-between">
        <div class="texto texto-longo margem2 left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of thas survived not only five centuries, but also the leap, but also the leap</div>
      <div class="bloco-azul margem2 background-azul right"></div>
    </div>

    <div class="margem2 d-flex justify-content-between">
      <div class="left">
        <img src="{{url_for('static', filename = 'imgs/curtir.svg')}}" alt="">
        <img src="{{url_for('static', filename = 'imgs/mensagem repertório.svg')}}"
          alt="">
        <input type="text" name="Comentar" class="comentar background-azul" placeholder="Comente...">
        <button class="button darkblue btn btn-outline-info right">Enviar</button>
      </div>

    </div>
  </div>
  <div class="margem2"><a href="" class="darkblue subtitulo fw-light">Explorar >>></a></div>
</div>

<div class="margem"></div>

<div class="margem d-flex justify-content-center">
  <div class="underline darkblue subtitulo d-flex justify-content-center  fw-semibold">Conheça nossa equipe</div>
</div>

<div class="margem"></div>

<div class="margem d-flex justify-content-center">

  <div class="pessoa d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/Ayane.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Ayane Vitória </div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around  margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

  <div class="pessoa left right d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/paulo.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Paulo Ricardo</div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around  margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

  <div class="pessoa d-flex justify-content-center flex-column align-items-center">
    <img class="" src="{{url_for('static', filename = 'imgs/Talyta.svg')}}" alt="">
    <div class="tema darkblue fw-bold  margem2">Talyta Raquel</div>
    <div class="darkblue fst-italic fw-light texto-longo">full</div>
    <div class="d-flex justify-content-around margem2">
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/insta.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/linkedin.svg')}}"
          alt=""></a> </div>
      <div> <a href=""><img src="{{url_for('static', filename = 'imgs/google.svg')}}"
          alt=""></a> </div>
    </div>
  </div>

</div>

<div class="margem"></div>
{% endblock %}
