{% extends 'base.html' %}

{% block conteudo %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'style/meus_repertorios.css')}}">
{% endblock %}

<div class="d-flex justify-content-center fw-semibold margem-grande">
  <div class="subtitulo underline ">Adicionar Repertório</div>
</div>


{% for repertorio in repertorios %}
<div  class="d-flex justify-content-center fw-semibold margem-grande">
  <div class="repertorio">
	<div class="titulo_rep margem-media fw-light borda"><b>Repertório:</b> {{ repertorio.titulo }}</div>
	<div class="d-flex justify-content-center margem-media">
  	<div class="bloco-rep ">
    	<div class="texto fw-light"> <b>Tema:</b> {{ repertorio.temas }}</div>
   	 
    	<div class="d-flex texto  justify-content-evenly margem-pequena fw-light">
			<a href="{{url_for('repertorios.repertorio_update' , id = repertorio.id)}}"> <button class="botao btn btn-info">Editar</button> </a>
			<a href="{{url_for('repertorios.repertorio_abrir' , id = repertorio.id)}}"> <button class="botao btn btn-info">Ver</button> </a>
			<a href="{{url_for('repertorios.repertorio_delete' , id = repertorio.id)}}"> <button class="botao btn btn-info">Excluir</button> </a>
    	</div>
  	</div>
	</div>
  </div>



</div>
{% endfor %}
{% endblock %}
