{% extends 'base.html' %}
{% block conteudo %}

<link rel="stylesheet" href="{{url_for('static', filename = 'style/repertorio.css')}}">

<div class="d-flex justify-content-center fw-semibold margem-grande">
  <div class="subtitulo underline" name="titulo" >{{repertorio.titulo}}</div>
</div>





<div class="d-flex justify-content-center margem-grande">
  <div class="tamanho-conteiner">
    <div class="subtitulo2 fw-semibold">Repertório</div> <br>
    <div class="texto">{{repertorio.conteudo}}</div>
  </div> 
</div>

<div class="d-flex justify-content-center margem-media">
  <div class="tamanho-conteiner">
    <div class="subtitulo2 fw-semibold">Descrição</div> <br>
    <div class="texto">{{repertorio.descricao}}</div>
  </div>
</div>

<div class="d-flex justify-content-center margem-media">
  <div class="tamanho-conteiner">
    <div class="subtitulo2 fw-semibold">Referências</div> <br>
    <div class="texto">{{repertorio.referencia}}</div>
  </div>
</div>

<div class=" d-flex justify-content-center margem-grande"><div class="tamanho-conteiner border d-flex justify-content-center"></div></div>



{% endblock %}