
{% extends 'base_add.html' %}
{% block conteudo %}

<link rel="stylesheet" href="{{url_for('static', filename = 'style/add_conteudo.css')}}">

<div class="d-flex justify-content-center fw-semibold margem">
  <div class="subtitulo underline ">Adicionar Repertório</div>
</div>

<div class="d-flex justify-content-center fw-semibold margem">

  <div>

    <form method = 'post' action="{{ url_for('repertorios.repertorio_cadastro', id = id) }}">

       <div class="subtitulo2">Nome do repertório</div> <br>
       <div><input type="text" name="titulo" class="input texto" placeholder="Ex.: Violência doméstica" required></div>

       <div class="subtitulo2 margem2">Repertório</div> <br>
      <textarea name="conteudo" class="input texto descricao" placeholder="Escreva seu repertório aqui caso seja textual" id="" cols="30" rows="10"></textarea>

      <div class="subtitulo2 margem2">Imagem</div> <br> 
      <input type="file" name="upload">
      <div class="texto fw-light p-2">Caso seu repertório seja uma imagem ou necessite de uma.</div>

      <div class="subtitulo2 margem2">Descrição</div> <br>
      <textarea name="descricao" class="input texto descricao" placeholder="Escreva como usar esse repertório, quando usar, qualquer anotação pertinente acerca do repertório..." id="" cols="30" rows="10" required></textarea>



      <div class="subtitulo2 margem2">Referências</div> <br>
       <div><input type="text" name="referencia" class="input texto" placeholder="Local de onde o repertório foi tirado." required></div>

      <div class="margem d-flex justify-content-center">
        <button type="submit" class="btn botao">Voltar</button>
        <button type="submit" class="btn botao">Postar</button>
      </div>

    </form>

  </div>

</div>

{% endblock %}