{% extends 'base.html' %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'style/repertorios_temas.css')}}">
{% endblock %}

{% block conteudo %}

<body>
  <div class="container flex-column">
    <div class="d-flex justify-content-center align-items-center">
      <div class="titulo fw-semibold">
        <div>Repertórios relacionados ao tema</div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="result fw-bold">Descrição</div>
      <div class="text-descricao">{{tema.descricao}}</div>
    </div>

    <div class="result fw-bold">
      <div>Repertórios</div>
    </div>
    {% for r in repertorio %}
    <div class="tema-box d-flex justify-content-between align-items-center">
      <div class="tema d-flex ">
        <div>{{r.titulo}} </div>
      </div>
      <div class="botao-abrir fw-semibold d-flex">
        <div><a class="botao" href="{{url_for('repertorios.repertorio_abrir', id = r.id)}}">Abrir</a></div>
      </div>
    </div>
    {% endfor %}



    
  </div>


</body>

{% endblock %}