{% extends 'base_add.html' %}

{% block conteudo %}

{% block links %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'style/add_conteudo.css')}}">
{% endblock %}

<div class="d-flex justify-content-center fw-semibold margem">
  <div class="subtitulo underline ">Atualizar tema</div>
</div>

<div class="d-flex justify-content-center fw-semibold margem">
  <div>
    <form  method = 'post' >
       <div class="subtitulo2">Título do tema</div> <br>
       <div><input type="text" value = '{{tema.titulo}}' name="titulo" class="input texto" placeholder="Ex.: Violência doméstica" required></div>
       <div class="subtitulo2 margem2">Descrição</div> <br>

      <textarea type="text" value = '{{tema.descricao}}' name="descricao" class="input texto descricao" placeholder="Descreva um pouco sobre esse tema" id="" cols="30" rows="10" required></textarea>

      <div class="margem d-flex justify-content-center">
       <a href="{{url_for('index')}}"> <button type="submit" class="btn botao">Voltar</button> </a>
       <a href="{{url_for('temas.tema_update', id=tema.id)}}">
        <button type="submit" class="btn botao">Atualizar</button></a>
      </div>

    </form>
  </div>
</div>


{% endblock %}
