{% extends 'base.html' %}
{% block conteudo %}

  <form  method='post'  >
    <input type="text" placeholder='nome' name = 'nome' value ='{{usuario.nome}}' >
    <input type="number" placeholder='idade' name = 'idade' value ='{{usuario.idade}}' >
    <input type="number" placeholder='tipo' name = 'tipo' value ='{{usuario.tipo}}'>
    <input type="text" placeholder='email' name = 'email' value ='{{usuario.email}}'>
    <input type="password" placeholder='senha' name = 'senha'>
    <input type="password" placeholder='confimar_senha' name = 'csenha'>
    <button type='submit'> Cadastrar </button>
  </form>
{% endblock %}
