{% extends 'base.html' %}
{% block conteudo %}

  <form  method='post'  >
    <input type="text" placeholder='nome' name = 'nome' value ='{{usuario.nome}}' >
    <label for="">Administrador:</label> 
        <select name="admin">
          <option value="True" {{ 'selected' if usuario.admin }}> Sim</option>
          <option value="False" {{ 'selected' if not usuario.admin }}> Não</option>
        </select>
    <input type="text" placeholder='email' name = 'email' value ='{{usuario.email}}'>
    <input type="password" placeholder='senha' name = 'senha'>
    <input type="password" placeholder='confimar_senha' name = 'csenha'>
    <button type='submit'> atualizar </button>
  </form>
{% endblock %}
